@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-50 text-slate-900;
}

html.dark body {
  @apply bg-slate-950 text-slate-50;
}
@media print {
  body {
    margin: 0;
    padding: 0;
  }

  .sticker {
    width: 2in;
    height: 1in;
    page-break-inside: avoid;
    overflow: hidden;
  }
}
