@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100 text-gray-900;
}
@media print {
  body {
    margin: 0;
    padding: 0;
  }

  .sticker {
    width: 2in;
    height: 1in;
    page-break-inside: avoid;
    overflow: hidden;
  }
}
